.eventDescription {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 300px;
    min-height : 400px;
    max-width: 300px;
    max-height : 400px;
}

.card-img-bottom {
    color: #fff;
    height: 15rem;
}

.topEventDescription {
    min-width: 600px;
    min-height : 400px;
    max-width: 600px;
    max-height : 400px;
}

.pastEventDescription {
    overflow : hidden;
    max-width: 300px;
    max-height: 50px;
}