.deckSize {
    height: auto; 
    width : 900px;
}

.description {
    width: auto;
    height : 100px;
    overflow: auto;
}

.card-img-bottom {
    color: #fff;
    height: 20rem;
  }

.bestSellImg {
    height: auto;
    width: 100%;
}

.categories {
    background-color: lightgrey;
    overflow : auto;
}

#shopRow {
    width: 100%;
}